.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;

  overflow-wrap: break-word;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.social-media-icon--container {
  background: #335ff4;
}
