.video-container {
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
}

.video {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.app-promo-section--heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app-promo-section {
  background: #335ff4;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 5rem 5rem 3rem 5rem;

  color: white;
}

.app-promo-btn {
  display: block;
  margin: 0 auto;
}

.devices-container {
  width: 100%;
  height: 30rem;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: center;
}

.mobile-container {
  width: fit-content;
}

.laptop-container {
  width: 30rem;
}

.mobile-img,
.laptop-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.laptop-img {
  object-position: bottom;
}
