.testimonials-container {
  padding-top: 3rem;
}

.testimonial--card-description {
  text-align: center;
  padding: 1rem;
  line-height: 1.2;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.thumbnail-img--container {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.thumbnail-img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.occupation {
  margin-top: 8px;
  font-weight: 400;
  text-align: center;
}
